.App{

}

.container {
  max-width: 90%;
  margin: 1rem auto;
  text-align: center;
  padding: 4rem;
  background: rgb(63, 94, 251);
  background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgb(252, 70, 231) 100%);
}

h1 {
  font-family: 'Gruppo', cursive;;
  color: beige;
  padding: 0;  
}

p {
  font-family: 'Raleway', sans-serif;
  color: azure;
}

li {
  color: aliceblue;
  list-style: none;
  padding: 1rem;
  font-weight: bold; 
  font-family: 'Raleway', sans-serif;
}

li:hover{
  background: rgb(63, 94, 251);
  background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgb(97, 138, 243) 100%);
  margin: 0rem 30rem 0rem 30rem;
}